<?xml version="1.0" ?>
<model xmlns:xacro="http://ros.org/wiki/xacro">
	
	<xacro:macro name="environment" params="name prefix">

		<!-- link list -->

	<link name="arm_right_gripper_support">
		<visual>
			<geometry>
				<cylinder length="0.01" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="gray_conveyor">
				<texture filename="package://motoman_sda10f_support/meshes/environment/textures/silver.png"/>
				<!--color rgba="${240/255} ${240/255} ${240/255} 1"/-->
			</material>
		</visual>
	</link>
	
	<link name="controller">
		<visual>
			<geometry>
				<box size="0.9 0.95 0.66"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="black">
			<color rgba="${40/255} ${40/255} ${40/255} 1"/>
			</material>
		</visual>
	</link>
	
	<link name="arm_left_gripper_support">
		<visual>
			<geometry>
				<cylinder length="0.026" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="gray_conveyor"/>
		</visual>
	</link>

	<link name="feeder_table">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/environment/feeder_table.stl" scale="0.01 0.01 0.01"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="gray_conveyor"/>
		</visual>
	</link>

	<link name="beacon">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/environment/beacon.STL"/>
			</geometry>
			<origin xyz="-0.035 0 -0.035"/>
			<material name="yellow_beacon">
				<color rgba="${255/255} ${255/255} ${0/255} 1"/>
			</material>
		</visual>
	</link>

	<link name="tool_table">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/environment/tool_table.STL"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="gray_conveyor">
				<texture filename="package://motoman_sda10f_support/meshes/environment/textures/red.png"/>
			</material>
		</visual>

	</link>
	
	<link name="marco_fake">
		<visual>
			<geometry>
				<box size="1.55 0.05 0.68"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<material name="gray_conveyor">
				<texture filename="package://motoman_sda10f_support/meshes/environment/textures/red.png"/>
			</material>
		</visual>

	</link>

		<!-- joint list -->	
	
	<joint name="arm_right_gripper_support_to_robot" type="fixed">
		<parent link="arm_right_link_tool0"/>
		<child link="arm_right_gripper_support"/>
		<origin xyz="0 0 -0.015" rpy="0 0 0"/>
	</joint>
	
	<joint name="arm_left_gripper_support_to_robot" type="fixed">
		<parent link="arm_left_link_tool0"/>
		<child link="arm_left_gripper_support"/>
		<origin xyz="0 0 -0.015" rpy="0 0 0"/>
	</joint>
	
	<joint name="feeder_table_to_robot" type="fixed">
		<parent link="torso_base_link"/>
		<child link="feeder_table"/>
		<origin xyz="0.8 -0.512 -0.3" rpy="0 0 1.5708"/>
	</joint>
	
	<joint name="beacon_to_robot" type="fixed">
		<parent link="torso_link_b1"/>
		<child link="beacon"/>
		<origin xyz="0.1 0 0.46" rpy="1.571 0 0"/>
	</joint>

	<joint name="tooltable_to_robot" type="fixed">
		<parent link="torso_base_link"/>
		<child link="tool_table"/>
		<origin xyz="-0.333 -0.02 0.382" rpy="1.57 0 3.14"/>
	</joint>
	
	<joint name="controller_to_robot" type="fixed">
		<parent link="torso_base_link"/>
		<child link="controller"/>
		<origin xyz="-0.85 -0.075 0.03" rpy="0 0 0"/>
	</joint>
	
	<joint name="marco_to_robot" type="fixed">
		<parent link="torso_base_link"/>
		<child link="marco_fake"/>
		<origin xyz="0.37 0.59 0.03" rpy="0 0 0"/>
	</joint>
	
		<!-- end of joint list -->

	</xacro:macro>
	
	<xacro:environment name="environment" prefix="environment_"/>
	
</model>
