<?xml version="1.0" ?>
<model xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="kinect" params="name prefix">
	
		<!-- link list -->
	<link name="base_kinect">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_base.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="green_kinect">
				<color rgba="${68/255} ${218/255} ${63/255} 1"/>
			</material>
		</visual>
		<collision>
				<geometry>
					<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_collision.STL" />
				</geometry>
				<origin xyz= "-0.16 0 0"/>
		</collision>
	</link>

	<link name="kinect">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_kinect.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="orange_kinect">
				<color rgba="${244/255} ${94/255} ${0/255} 1"/>
			</material>
		</visual>
	</link>
	
		<link name="base_kinect2">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_base.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="green_kinect">
				<color rgba="${68/255} ${218/255} ${63/255} 1"/>
			</material>
		</visual>
		<collision>
				<geometry>
					<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_collision.STL" />
				</geometry>
				<origin xyz= "-0.16 0 0"/>
		</collision>
	</link>

	<link name="kinect2">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_kinect.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="orange_kinect">
				<color rgba="${244/255} ${94/255} ${0/255} 1"/>
			</material>
		</visual>
	</link>

	</xacro:macro>
	
	<xacro:kinect name="kinect" prefix="kinect_"/>
	
</model>
