<?xml version="1.0" ?>

<!-- 
    Please note that the base link of the c_model gripper is
    "${prefix}robotiq_85_adapter_link"
 -->

<robot name="zed_camera" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find motoman_sda10f_support)/urdf/zed_macro.xacro" />
    <xacro:zed_camera prefix=""/>
</robot>
