<?xml version="1.0" ?>
<model xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="kinect" params="name prefix">
	
		<!-- link list -->
	<link name="base_kinect">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_base.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="green_kinect">
				<color rgba="${68/255} ${218/255} ${63/255} 1"/>
			</material>
		</visual>
		<collision>
				<geometry>
					<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_collision.STL" />
				</geometry>
				<origin xyz= "-0.16 0 0"/>
		</collision>
	</link>

	<link name="kinect">
		<visual>
			<geometry>
				<mesh filename="package://motoman_sda10f_support/meshes/camera/kinect_kinect.STL"/>
			</geometry>
			<origin xyz="-0.14 0 0"/>
			<material name="orange_kinect">
				<color rgba="${244/255} ${94/255} ${0/255} 1"/>
			</material>
		</visual>
	</link>

<!--joint name="table_to_world" type="fixed">
	<parent link="base_link"/>
	<child link="conveyor"/>
	<origin xyz="-2.92 -2.45 0.1" rpy="0 0 -1.56"/>
				<WRITE 0.4 IN Z IF THE ROBOT IS AT THE SAME HEIGHT OF THE CONVEYOR>
	</joint-->
	

		<!-- joint list -->
		
	<joint name="base_kinect_to_robot" type="fixed"> <!--ACTUALIZAR CON DATA REAL OJO MODIFICAR AQUI-->
		<parent link="torso_base_link"/>
		<child link="base_kinect"/>
		<origin xyz="0.817 0.056 2.07" rpy="1.54 0 -1.52"/> <!--origin xyz="0.148 0.845 1.6425" rpy="1.54 0 -3.14"/> <ESTA ES LA TRANSFORMADA QUE HAY QUE MEDIR menos 30cm en Z-->
	</joint>
	
	<joint name="base_kinect_to_kinect" type="fixed">
		<parent link="base_kinect"/>
		<child link="kinect"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>
	
		<!-- end of joint list -->
	</xacro:macro>
	
	<xacro:kinect name="kinect" prefix="kinect_"/>
	
</model>
